on: push
jobs:
  bundle:
    strategy:
      matrix:
        os: [windows, macos, ubuntu]
        include:
          - os: windows
            build: npx caxa -i . -o "moni-mini--windows--${{ github.sha }}.exe" -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/dist/index.mjs"
            artifact: moni-mini--windows--${{ github.sha }}.exe
          - os: macos
            build: |
              npx caxa -i . -o "moni-mini.app" -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/dist/index.mjs"
              tar -czf "moni-mini--macos--${{ github.sha }}.app.tgz" "moni-mini.app"
            artifact: moni-mini--macos--${{ github.sha }}.app.tgz
          - os: ubuntu
            build: |
              npx caxa -i . -o "moni-mini" -- "{{caxa}}/node_modules/.bin/node" "{{caxa}}/dist/index.mjs"
              tar -czf "moni-mini--linux--${{ github.sha }}.tgz" "moni-mini"
            artifact: moni-mini--linux--${{ github.sha }}.tgz
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: |
          npm ci
          ${{ matrix.build }}
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.artifact }}
