on: push
jobs:
  insiders-build:
    strategy:
      matrix:
        os: [windows, macos, ubuntu]
        include:
          - os: windows
            build: npx caxa --directory . --command "{{caxa}}/node_modules/.bin/node" "{{caxa}}/dist/index.mjs" --output "moni-mini--windows--${{ github.sha }}.exe"
            artifact: moni-mini--windows--${{ github.sha }}.exe
          - os: macos
            build: |
              npx caxa --directory . --command "{{caxa}}/node_modules/.bin/node" "{{caxa}}/dist/index.mjs" --output "moni-mini.app"
              tar -czf "moni-mini--macos--${{ github.sha }}.app.tgz" "moni-mini.app"
            artifact: moni-mini--macos--${{ github.sha }}.app.tgz
          - os: ubuntu
            build: |
              npx caxa --directory . --command "{{caxa}}/node_modules/.bin/node" "{{caxa}}/dist/index.mjs" --output "moni-mini"
              tar -czf "moni-mini--linux--${{ github.sha }}.tgz" "moni-mini"
            artifact: moni-mini--linux--${{ github.sha }}.tgz
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18
      - run: |
          npm ci
          ${{ matrix.build }}
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.artifact }}
          path: ${{ matrix.artifact }}
